footer {
    background: #dbdad9;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    width: -webkit-fill-available;
    float: left;
}

.footer-contato h3 {
    font-size: 26px;
    margin: 10px 0px;
}

.footer-contato a {
    color: #337ab7;
    text-decoration: none;
}

.footer-contato ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}

.footer-contato li {
    margin-bottom: 0.3rem;
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-col {
    flex: 1 1 300px;
    padding: 1rem;
}

@media (max-width: 768px) {

    .footer{
        padding: 40px 0;
        text-align: center;
    }

    .footer-container {
        text-align: center;
    }

    .footer-col {
        padding: 2px;
        width: -webkit-fill-available;
    }
}