#homepage,
#pages,
#blogpage {
    margin-top: 168px;
}


.section-produtos {
    width: 100%;
    float: left;
    position: relative;
}

#part-produtos {
    /* background: url(../galeria/diversos/p-produtos.png) center 0 repeat-y #FFF; */
    background: url(../galeria/diversos/p-produtos.png) center center / cover no-repeat;
    padding: 50px 0;
}

.section-container {
    /* width: 1170px; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.titulo-section {
    text-align: center;
    text-transform: uppercase;
}


.lista-produtos {
    /* margin-top: 40px;
    text-align: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}

#part-produtos .produto {
    /* margin-bottom: 30px; */
    float: none !important;
    /* margin: 0 auto 30px auto !important; */
    display: inline-block;
    width: 32%;
    text-align: left;
    position: relative;
    min-height: 1px;
    /* padding-right: 15px;
    padding-left: 15px; */
}

#part-produtos .produto .bg {
    background-size: cover !important;
    height: 257px;
    width: 100%;
    position: relative;
    cursor: pointer;
}

#part-produtos .produto .link-item {
    width: 100%;
}

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
}

#part-produtos .produto .bg .conteudo {
    position: absolute;
    /* width: 100%; */
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
}

#part-produtos .produto .bg .conteudo h2 {
    font-size: 18px;
    color: #FFF;
    transition: 0.3s;
    min-height: 38px;
    max-width: 180px;
    margin: 0 0 10px 0 !important;
}


#part-produtos .produto .bg .conteudo .texto,
#part-produtos .produto .bg .conteudo .texto p {
    color: #FFF;
    font-size: 13px;
}

#part-produtos .produto .bg .thumb-zoom {
    width: 125px;
    height: 125px;
    border-radius: 200px;
    border: 3px solid #000;
    background: #FFF;
    position: relative;
    float: right;
    margin: 50px 20px 0 0;
}

#part-produtos .produto .bg .thumb-zoom .border-zoom {
    width: 100%;
    height: 100%;
    border-radius: 200px;
    border: 5px solid #FFF;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
}

#part-produtos .produto .bg .thumb-zoom div.img {
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 200px;
    transition: 0.3s;
}

/* Responsividade para larguras mínimas */
@media (min-width: 1200px) {
    .section-container {
        width: 1170px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .section-container {
        width: 970px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section-container {
        width: 750px;
    }
}

/* Responsividade para larguras máximas */
@media (max-width: 1200px) {
    #part-produtos .produto .bg {
        height: 290px;
    }
}

@media (max-width: 991px) {
    #part-produtos .produto {
        width: 48%;
    }

    #part-produtos .produto .bg {
        height: 265px;
    }
}

@media (max-width: 740px) {
    #part-produtos .produto {
        width: 100%;
    }

    #part-produtos .produto .bg {
        height: 265px;
        max-width: 400px;
        margin: auto;
    }
}


@media only screen and (max-width: 1200px) {
    #homepage, #pages, #blogpage {
        margin-top: 160px !important;
        width: -webkit-fill-available;

    }
}

@media only screen and (max-width: 991px) {
    #part-produtos {
        background-repeat-y: initial;
    }
}


